.venv/
.venv312/
venv/
__pycache__/
**/__pycache__/
**/__pycache__/**
*.py[cod]
.env
.env.*
.DS_Store
staticfiles/
healthcakes_project/staticfiles/
*.log

.idea/
healthcakes_project/.idea/
*.sqlite3
*.sqlite3-journal
